---
import Layout from "../layouts/Layout.astro";
import App from "../components/App";

const response = await fetch(
  `https://api.weatherapi.com/v1/forecast.json?key=${
    import.meta.env.WEATHER_API
  }&q=Ahlden&days=4&alerts=no`
);
let data = await response.json();
---

<Layout title="Wetter">
  <main class="h-full bg-slate-700">
    <App client:only data={data} />
  </main>
</Layout>

<style>
  html,
  body {
    height: 100%;
  }
</style>
